<html ng-app="clockApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app.js"></script>
        <title>Clock App</title>
    </head>

    <body>
        <div ng-controller="ClockCtrl">
            Please enter your name: <input ng-model="userName" type="text"></input>
            <h1>Clock App</h1>
            <p>The current time is: {{curTime}}</p>
            <p>Your name is: {{userName}}</p>
            <button ng-click="updateTime()">Update Time</button>

        </div>
 

    </body>


</html>